<form novalidate [formGroup]="updateUser">

  <ion-item>
    <ion-label stacked>Username:</ion-label>
    <ion-input [disabled]='!isEnabled' formControlName="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Name:</ion-label>
    <ion-input [disabled]='!isEnabled' formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Email:</ion-label>
    <ion-input [disabled]='!isEnabled' type='email' formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gender:</ion-label>
    <ion-select [disabled]='!isEnabled' placeholder="select input..." formControlName="gender">
      <ion-select-option value='male'>Male</ion-select-option>
      <ion-select-option value='female'>Female</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>Age:</ion-label>
    <ion-input [disabled]='!isEnabled' type='number' formControlName="age"></ion-input>
  </ion-item>

  <ion-button (click)='edit()'>Edit User.</ion-button>
  <ion-button [disabled]='!isEnabled' (click)='update()'>Update User.</ion-button>

</form>