<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
      <!-- <ion-card-title></ion-card-title> -->
    </ion-card-header>

    <ion-card-content>
      <ion-label>Username:</ion-label>
      <ion-input [(ngModel)]="username" placeholder="Enter username..."></ion-input>
      <ion-label>Password:</ion-label>
      <ion-input [(ngModel)]="password" type="password" placeholder="Enter password..."></ion-input>
      <ion-button (click)="login()" color="primary" size="large">Login</ion-button>
      <ion-button [routerLink]="['/register']" color="primary" size="large">Register</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
