<ion-header>
  <ion-toolbar color=primary>
    <ion-grid style="padding: 0;">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" size-lg>
          <ion-icon 
            (click)="goBack()"
            style="font-size:40px; margin-left: 5px;"
            name="arrow-back">
          </ion-icon>
        </ion-col>
        <ion-col *ngIf='menuData' size="10" size-lg style="padding: 0; margin: 0;">
          <ion-title style="padding: 0; margin: 0;">{{menuData.title_menu.toUpperCase()}}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-form-item [menuId]="menuId"></app-form-item>
</ion-content>
