
<ion-list *ngIf='formList?.length'>
  <ion-text>
    <h1>List of Forms</h1>
  </ion-text>  
  <ion-item *ngFor='let form of formList'>
      <ion-text (click)='getForm(form.id_form)'>
        <h2>{{form.title_form}}</h2>
        <p>{{form.description_form}}</p>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list *ngIf='submenuList?.length'>
    <ion-text>
      <h1>List of Submenus</h1>
    </ion-text>  
    <ion-item *ngFor='let menu of submenuList'>
      <ion-text (click)='getMenu(menu.id_menu)'>
        <h2>{{menu.title_menu}}</h2>
        <p>{{menu.description_menu}}</p>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list *ngIf='!submenuList?.length && !formList?.length'>
    <ion-item>
      This Menu is empty
    </ion-item>
  </ion-list>
  
  